.navigation-drawer {
  height: 100dvw;
  position: fixed;
}

a {
  text-decoration: underline;
  text-decoration-color: rgba(var(--v-theme-primary));
  color: rgba(var(--v-theme-primary));

  &:hover {
    color: rgba(var(--v-theme-primary-lighten-2));
    text-decoration-color: rgba(var(--v-theme-primary-lighten-2));
  }

  &.nav-link {
    text-decoration: none;
  }
}

.headline {
  font-size: 2rem;
  word-wrap: normal;
}

.linear-progress-bar {
  position: absolute;
  top: 0;
  width: 100%;
}
